Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
python-dotenv
psycopg2  
marshmallow
pytest
langchain
ollama
#   FastAPI and related
fastapi
uvicorn[standard]
asyncpg
SQLAlchemy[asyncio]
pydantic
python-dotenv
jose
passlib
httpx

#   LLM interaction
llama-cpp

#   General
python-dotenv
pytest
prometheus_client
